@import 'bootstrap';
@import 'bootstrap-sprockets';
@import 'color';

.delay {
  transition: all .2s linear;
}

.log-bg {
  background-image: url('log-page.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  min-height: 100%;
  padding: 70px 0 240px;
  text-align: center;

  h2 {
    margin-top: 0 0 35px;
  }

  input {
    background: transparent;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    outline: none;
    width: 100%;
  }

  label {
    font-style: italic;
  }
}

.form-area {
  margin: 0 auto;
  text-align: left;
  width: 400px;
}

.actions {
  padding-top: 10px;

  input {
    background: $white;
    border-bottom: 0;
    color: $black;
    padding: 5px 0;

    &:hover {
      background: $gray-dark;
      color: $white;
    }
  }
}

.log-in-sign {
  font-size: 16px;
  font-style: italic;
  text-align: right;

  a {
    color: $white;
    text-decoration: none;
  }
}

.remember-text {
  font-size: 16px;
  font-style: italic;
}

.field > div {

  label {
    color: $red;
  }
}

.error-messages {

  h2 {
    font-size: 16px;
  }

  ul {
    color: $red;
    font-size: 18px;
  }
}

.account-button {
  button {
    background: transparent;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 800;
    padding: 19px;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      border: 1px solid $white;
    }
  }

  .dropdown-menu {
    margin: 0;
    padding: 0;
  }
}

.avatar-edit {
  padding-bottom: 10px;
  text-align: center;

  img {
    border: 1px solid $white;
    height: 100px;
  }
}

.picture {
  text-align: center;

  img {
    border: 1px solid $white;
    height: 100px;
  }

  input {
    display: none;
  }

  label {
    display: block;
    font-size: 14px;
  }
}
